@model ResuMeta.ViewModels.ProfileVM;
@{
    ViewData["Title"] = "User Profile";
}
@section Styles {
    <link rel="stylesheet" href="~/css/YourProfile.css" asp-append-version="true" />
    <link href="https://cdn.quilljs.com/1.0.0/quill.snow.css" rel="stylesheet">
}

<section>
    <div class="text-center">
        <div id="profile-id" style="display: none;">@Model.ProfileId</div>
        <h1 class="display-4 title">Profile - @Model.FirstName @Model.LastName</h1>
        <hr />
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group profile-picture-group">
                        @if (Model.ProfilePicturePath != null && Model.ProfilePicturePath.Length > 0)
                        {
                            <img id="currentProfilePicture"
                                src="data:image;base64,@Convert.ToBase64String(Model.ProfilePicturePath)"
                                alt="Profile Picture" class="img-thumbnail" style="width: 150px; height: 150px;"/>
                        }
                        else
                        {
                            <img id="currentProfilePicture" src="~/Images/profile.svg" alt="Profile Picture"
                                class="profile-placeholder img-thumbnail" style="width: 150px; height: 150px;"/>
                        }
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="row">
                        <div class="text-center">
                            <h1>@Model.UserName</h1>
                        </div>
                    </div>
                    <div class="row">
                        <h4>@Model.FirstName @Model.LastName</h4>
                    </div>
                    <div class="row">
                        <button id="follow-btn" class="btn btn-primary" style="width: 100%;">Follow</button>
                        <div id="followers"> Followers: <span id="follower-count">@Model.FollowerCount</span></div>
                        <div id="following"> Following: <span id="following-count">@Model.FollowingCount</span></div>
                    </div>
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="text-center" id="profile-description">@Model.Description</div>
            </div>
            <hr />
            <div class="row">
                <div id="resume-id" style="display: none;">@Model.ResumeId</div>
                @if (Model.Resume != null)
                {
                    <h4 class="mt-3 text-center">Showcased Resume:</h4>
                    <div class="votes" style="display: inline-flex">
                        <div id="upvotes" class="upvotes">
                            <i class="fa fa-thumbs-up"></i>
                            <span id="upvotes-count">@Model.UpVoteCount</span>
                        </div>
                        <div id="downvotes" class="downvotes">
                            <i class="fa fa-thumbs-down"></i>
                            <span id="downvotes-count">@Model.DownVoteCount</span>
                        </div>
                    </div>
                    <section id="resume-section">
                        <div class="resume-content-ids" id="resume-content" style="display: none;">@Model.Resume</div>
                        <div id="editor" style="height: 100%; width: 100%; margin: 0 auto;">

                        </div>
                    </section>
                }
                else
                {
                    <h4 class="mt-3 text-center">No Resume Uploaded</h4>
                }
            </div>
        </div>
    </div>

<style>
    .upvotes {
        cursor: pointer;
        color: lime;
        margin-left: 5px;
        margin-right: 5px;
    }
    .downvotes {
        cursor: pointer;
        color: rgb(255, 0, 64);
        margin-left: 5px;
        margin-right: 5px;
    }
    .upvotes:hover {
        color: rgb(133, 255, 133);
    }
    .downvotes:hover {
        color: rgb(249, 116, 116);
    }
</style>

@section Scripts {
    <script type="text/javascript" src="~/js/UserProfile.js"></script>
}