@model ResuMeta.ViewModels.ProfileVM;
@{
    ViewData["Title"] = "User Profile";
}
@section Styles {
    <link rel="stylesheet" href="~/css/YourProfile.css" asp-append-version="true" />
    <link href="https://cdn.quilljs.com/1.0.0/quill.snow.css" rel="stylesheet">
}

<section>
    <div class="text-center">
        <div id="profile-id" style="display: none;">@Model.ProfileId</div>
        <h1 class="display-4 title">Profile - @Model.FirstName @Model.LastName</h1>
        <hr />
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group profile-picture-group">
                        @if (Model.ProfilePicturePath != null && Model.ProfilePicturePath.Length > 0)
                        {
                            <img id="currentProfilePicture"
                                src="data:image;base64,@Convert.ToBase64String(Model.ProfilePicturePath)"
                                alt="Profile Picture" class="img-thumbnail" style="width: 150px; height: 150px;"/>
                        }
                        else
                        {
                            <img id="currentProfilePicture" src="~/Images/profile.svg" alt="Profile Picture"
                                class="profile-placeholder img-thumbnail" style="width: 150px; height: 150px;"/>
                        }
                    </div>
                </div>
                <div class="col-md-7">
                    <div class="row">
                        <div style="text-align: left;">
                            <h1>@Model.UserName</h1>
                        </div>
                    </div>
                    <div class="row" style="text-align: left;">
                        <h4>@Model.FirstName @Model.LastName</h4>
                    </div>
                    <div class="row">
                        <div class="col d-flex">
                            <button id="follow-btn" class="btn btn-primary" style="width: 100px; margin-right: 10px;">Follow</button>
                            <div id="followers" style="margin-right: 10px; margin-left: 10px;" data-bs-toggle="modal" data-bs-target="#modal"> Followers: <span id="follower-count">@Model.FollowerCount</span></div>
                            <div id="following" style="margin-right: 10px; margin-left: 10px;" data-bs-toggle="modal" data-bs-target="#modal"> Following: <span id="following-count">@Model.FollowingCount</span></div>
                        </div>
                    </div>
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="text-center" id="profile-description">@Model.Description</div>
            </div>
            <hr />
            <div class="row">
                <div id="resume-id" style="display: none;">@Model.ResumeId</div>
                @if (Model.Resume != null)
                {
                    <h4 class="mt-3 text-center">Showcased Resume:</h4>
                    <div class="votes" style="display: inline-flex">
                        <div id="upvotes" class="upvotes">
                            <i class="fa fa-thumbs-up"></i>
                            <span id="upvotes-count">@Model.UpVoteCount</span>
                        </div>
                        <div id="downvotes" class="downvotes">
                            <i class="fa fa-thumbs-down"></i>
                            <span id="downvotes-count">@Model.DownVoteCount</span>
                        </div>
                    </div>
                    <section id="resume-section">
                        <div class="resume-content-ids" id="resume-content" style="display: none;">@Model.Resume</div>
                        <div id="editor" style="height: 100%; width: 100%; margin: 0 auto;">

                        </div>
                    </section>
                }
                else
                {
                    <h4 class="mt-3 text-center">No Resume Uploaded</h4>
                }
            </div>
        </div>
    </div>

     <!-- Modal -->
            <div class="modal fade" id="modal" tabindex="-1" aria-labelledby="modal-label" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content bg-dark">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="modal-label"></h1>
                            <button id="close-modal1" type="button" class="btn-close" data-bs-dismiss="modal"
                                aria-label="Close"></button>
                        </div>
                        <div class="modal-body" id="modal-body">

                                
                        </div>
                        <div class="modal-footer form-btns">
                            <button id="close-modal2" type="button" class="btn btn-secondary border-0 d-flex mx-1"
                                data-bs-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>

        <template id="profile-template">
            <div class="card border-secondary mb-3" style="width: 18rem;">
                    <div class="card-body bg-secondary row">
                        <div class="form-group profile-picture-group col-md-2" id="profile-pic">

                        </div>
                        <div class="col-md-10">
                            <a id="profile-link" href="">
                                <h5 class="card-title" id="profile-username"></h5>
                            </a>
                            <div class="card-text row">
                                <div>
                                    <p><span id="profile-first-name"></span> <span id="profile-last-name"></span></p>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
        </template>

<style>
    .upvotes {
        cursor: pointer;
        color: lime;
        margin-left: 5px;
        margin-right: 5px;
    }
    .downvotes {
        cursor: pointer;
        color: rgb(255, 0, 64);
        margin-left: 5px;
        margin-right: 5px;
    }
    .upvotes:hover {
        color: rgb(133, 255, 133);
    }
    .downvotes:hover {
        color: rgb(249, 116, 116);
    }
    #followers, #following {
        font-size: 1.2em;
        color: rgb(88, 88, 88);
        height: 38px;
    }
    #followers:hover, #following:hover {
        color: rgb(172, 172, 172);
        cursor: pointer;
    }
    #modal-body {
        overflow-y: scroll;
        height: 500px;
    }
</style>

@section Scripts {
    <script type="text/javascript" src="~/js/UserProfile.js"></script>
}