@model ResuMeta.ViewModels.ResumeVM;
@{
    ViewData["Title"] = "Resume - View";
}
@section Styles {
    <link rel="stylesheet" href="~/css/ViewResume.css" asp-append-version="true" />
}

<div class="text-center">
    <div class="alert alert-success" role="alert">
        <h4>Success, Information Stored!</h4>
    </div>
    <h1 class="display-4">Your Resume</h1>
    <div class="container">
        <div class="container resume-container">
            <div class="text-start">
                @if (Model != null)
                {
                    <div>
                        <h2>Education</h2>
                        <hr />
                        <p><strong>Institution:</strong> @Model.Education.Institution</p>
                        <p><strong>Summary:</strong> @Model.Education.EducationSummary</p>
                        <p>
                            <strong>Dates:</strong>
                            @Model.Education.StartDate?.ToString("MMM yyyy") -
                            @(Model.Education.Completion ?? false ? Model.Education.EndDate?.ToString("MMM yyyy") : "Present")
                        </p>
                    </div>

                    <div>
                        <h2>Degree</h2>
                        <hr />
                        <p><strong>Type:</strong> @Model.Degree.Type</p>
                        <p><strong>Major:</strong> @Model.Degree.Major</p>
                        <p><strong>Minor:</strong> @Model.Degree.Minor</p>
                    </div>

                    <div>
                        <h2>Skills</h2>
                        <hr />
                        <ul>
                            @foreach (var skill in Model.Skills)
                            {
                                <li>@skill.SkillName</li>
                            }
                        </ul>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
