@section Styles {
    <link rel="stylesheet" href="~/css/ApplicationTracker.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
}

<section>
<div class="text-center">
    <h1 class="display-4 title">Application Tracker</h1>
    <hr />
</div>


<div class="container">

    <div id="validation">
        <div class="alert alert-danger" role="alert" id="validationMessage" style="display: none;">
            <strong>Validation Error</strong>
            <p id="validationText"></p>
        </div>
    </div>

    <form id="application-form" class="row justify-content-center mx-auto" style="width: 80%;">
        <div class="form-group col-md-6 text-center">
            <input type="hidden" name="UserId" id="userId" value="@ViewBag.UserId" />
            @if (ViewBag.JobListing != null)
            {
                <label for="jobTitle">Job Title</label>
                <input type="text" class="form-control" id="jobTitle" maxlength="100" placeholder="Job Title" value="@ViewBag.JobListing.JobTitle" required>
            }
            else
            {
                <label for="jobTitle">Job Title</label>
                <input type="text" class="form-control" id="jobTitle" maxlength="100" placeholder="Job Title" required>
            }
        </div>
        <div class="form-group col-md-6 text-center">
            @if (ViewBag.JobListing != null)
            {
                <label for="companyName">Company Name</label>
                <input type="text" class="form-control" id="companyName" maxlength="100" placeholder="Company Name"
                    value="@ViewBag.JobListing.Company" required>
            }
            else
            {
                <label for="companyName">Company Name</label>
                <input type="text" class="form-control" id="companyName" maxlength="100" placeholder="Company Name"
                    required>
            }
        </div>
        <div class="form-group col-md-6 text-center">
            @if (ViewBag.JobListing != null)
            {
                <label for="jobListingUrl">Job Listing URL</label>
                <input type="text" class="form-control" id="jobListingUrl" placeholder="Job Listing URL" value="@ViewBag.JobListing.Link" required>
            }
            else
            {
                <label for="jobListingUrl">Job Listing URL</label>
                <input type="text" class="form-control" id="jobListingUrl" placeholder="Job Listing URL" required>
            }
        </div>
        <div class="form-group col-md-6 text-center">
            @if (ViewBag.JobListing != null && ViewBag.JobListing.DateApplied != null)
            {
                <label for="appliedDate">Applied Date</label>
                <input type="date" class="form-control" id="appliedDate" placeholder="Applied Date" value="@ViewBag.JobListing.DateApplied.ToString("yyyy-MM-dd")" required>           
            }
            else
            {
                <label for="appliedDate">Applied Date</label>
                <input type="date" class="form-control" id="appliedDate" placeholder="Applied Date" required>
            }
        </div>
        <div class="form-group col-md-6 text-center">
            <label for="applicationDeadline">Application Deadline</label>
            <input type="date" class="form-control" id="applicationDeadline" placeholder="Application Deadline"
                required>
        </div>
        <div class="form-group col-md-6 text-center">
            <label for="status">Status</label>
            <input type="text" class="form-control" id="status" maxlength="100" placeholder="Status" required>
        </div>
        <div class="form-group col-md-6 text-center">
            <label for="notes">Notes</label>
            <input type="text" class="form-control" id="notes" maxlength="100" placeholder="Notes" required>
        </div>
        <div class="form-group col-md-6 text-center">
            <button type="submit" id="add-application-button" class="btn btn-primary">Submit</button>
        </div>
    </form>
    <hr />
</div>
@if (User.Identity!.IsAuthenticated)
{
    <div class="row">
        <div class="col-md-2">
            <div class="filter-section">
                <h4>Filters</h4>
                <hr />
                <label for="sort-option">Sort by:</label>
                <select id="sort-option">
                    <option value="applied-date">Applied Date</option>
                    <option value="job-title">Job Title</option>
                    <option value="company-name">Company Name</option>
                    <option value="application-deadline">Application Deadline</option>
                    <option value="status">Status</option>
                </select>

                <label for="sort-order">Order:</label>
                <select id="sort-order">
                    <option value="ascending">Ascending</option>
                    <option value="descending">Descending</option>
                </select>

                <button class="btn btn-primary" id="apply-filters">Apply Filters</button>
                 <button class="btn btn-primary" id="reset-filters">Reset Filters</button>
            </div>
        </div>
        <div class="col-md-10">
            <div class="table-responsive">
            <table id="app-table" class="table text-center ">
            <thead>
                <tr>
                    <th class="wrap-text" id="Job-Title">Job Title<span class="sort-arrow">&#9662;</span></th>
                    <th class="wrap-text" id="Company-Name">Company Name<span class="sort-arrow">&#9662;</span></th>
                    <th class="wrap-text" id="Job-Listing">Job Listing URL</th>
                    <th class="wrap-text" id="Applied-Date">Applied Date<span class="sort-arrow">&#9662;</span></th>
                    <th class="wrap-text" id="Application-Deadline">Application Deadline<span class="sort-arrow">&#9662;</span></th>
                    <th class="wrap-text" id="Job-Status">Status<span class="sort-arrow">&#9662;</span></th>
                    <th class="wrap-text" id="Job-Notes">Notes</th>
                    <th class="wrap-text" id="maximize-table">&#xf0c9;</th>
                    @* <th class="wrap-text"> </th> *@
                </tr>
            </thead>
            <tbody>
            </tbody>
            </table>
        </div>
    </div>
</div>

    <hr />
}
    <button id="help-btn" class="btn btn-info">?</button>

<div id="maximized-modal" class="maximized-modal">
    <div class="maximized-modal-content">
        <span id="close-maximized-modal" class="close">&times;</span>
        <div id="maximized-table"></div>
    </div>
</div>

    <div class="modal " id="help-modal" tabindex="-1" aria-labelledby="helloModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content bg-dark">
                <div class="modal-header">
                    <h5 class="modal-title" id="helloModalLabel">Help</h5>
                </div>
                <div class="modal-body">
                    <p>1. Enter in the relevant details for the job applications you would like to keep track of (job title, url, company name, deadline, date you applied, notes, and status). </p>
                    <p>2. Upon clicking the submit button, you will see your application details show up in the table below. You can now sort your applications by the date they were created or by the date you applied. </p>
                    <p>3. You also have the option to set a reminder for each application. The “Followup Reminder” will send you an email 7 days after the date you applied to remind you to follow up with the recruiter. The “Apply Reminder” will send you an email 2 days before the job application is due to remind you to apply. </p>
                </div>
                <div class="modal-footer">
                    <button type="button" id="close-btn" class="btn btn-secondary"
                        data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>


@section Scripts {
    <script type="text/javascript" src="~/js/AppTracker.js"></script>
}